<div *ngIf="launches">
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="tblLaunches">
      <ng-container matColumnDef="flight_number">
        <mat-header-cell *matHeaderCellDef> Flight # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.flight_number}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rocket_name">
        <mat-header-cell *matHeaderCellDef> Rocket Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rocket.rocket_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rocket_type">
        <mat-header-cell *matHeaderCellDef> Rocket Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rocket.rocket_type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="launch_success">
        <mat-header-cell *matHeaderCellDef> Success </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.launch_success">✅</span>
          <span *ngIf="!element.launch_success">❌</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="more">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-button routerLink="detail/{{element.flight_number}}">Read more...</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="launches.length" [pageSize]="10" [pageSizeOptions]="[5,10,25,100]" (page)="paginationUpdate($event)"></mat-paginator>
  </div>
</div>
<div *ngIf="!launches">
  Loading...
  <br />
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<br />
