/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: auto;
  width: 700px;
}
@media screen and (max-width: 750px) {
  body {
    width: 90%;
  }
}
